:root {
  --primary-color: #ffb400;
  --black: #242526;
  --white: #ffffff;
  --secondary: #767676;
  --background: #e5e5e5;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background: var(--background);
  color: var(--black);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

picture {
  display: block;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.vHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  max-width: 1285px;
  margin: 0 auto;
}

.h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

.highlighted {
  color: var(--primary-color);
}

.bgwhite {
  background: var(--white);
}
.bgprimary {
  background: var(--primary-color);
}

.button {
  font: inherit;
  cursor: pointer;
  background: transparent;
  border: none;
}
.button--primary {
  padding: 16px 32px;
  background: var(--primary-color);
  font-weight: 500;
  border-radius: 5px;
}

.main {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.main__aside {
  width: 100%;
  max-width: 300px;
  padding: 50px 40px;
  background: var(--white);
  align-self: start;

}

.main__content {
  width: 100%;
  max-width: 820px;
}

.main__navigation {
  width: 100%;
  max-width: 100px;
  background: var(--white);
  align-self: start;
}

.aside {
}

.aside > *::after {
  content: "";
  margin: 20px 0;
  display: block;
  width: 100%;
  height: 1px;
  background: #f0f0f6;
}

.aside > *::after {
}

.aside > * {
}

.aside__profile {
}
.aside__languages {
}
.aside__skills {
}
.aside__extra {
}

.content {

}

.content__hero {
  margin-bottom: 50px;
}

.content__education {
  margin-bottom: 50px;
}

.content__code-example {
  margin-bottom: 50px;

}

.content__projects {
  margin-bottom: 50px;
}

/* macro */

.profile {
}
.profile__wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.profile__img {
  margin-bottom: 15px;
  width: 150px;
}

.profile__img img {
  border-radius: 50%;
}

.profile__heading {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.profile__sub-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-transform: capitalize;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--secondary);
}

.profile__social-links {
}

.social-links {
}
.social-links__list {
  display: flex;
  gap: 15px;
}


.social-links__item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: var(--primary-color);
  border-radius: 50%;
}

.social-links__item a span {
  font-size: 20px;
}

.aside__misc-info {
}

.misc-info {
}

.misc-info__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.misc-info__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  line-height: 24px;
}

.misc-info__item span:first-child {
  padding: 5px;
  background: var(--primary-color);
}

.languages {
}

.languages__heading {
  margin-bottom: 25px;
}
.languages__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.languages__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  line-height: 24px;
}

.languages__item span:last-child {
  padding: 5px;
  background: var(--primary-color);
}

.skills {
}

.skills__heading {
  margin-bottom: 25px;
}
.skills__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.skills__item {
  display: flex;
  flex-direction: column;
}

.skills__item div {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
.skills__item progress {
  width: 100%;
  color: #ffb400;
}

.extra {
}
.extra__heading {
  margin-bottom: 25px;
}
.extra__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.extra__item {
  display: flex;
  gap: 10px;
  font-weight: bold;
}

.hero {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: var(--white);
}
.hero__text {
  width: 400px;
}
.hero__heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 59px;
}
.hero__about {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--secondary);
}

.hero__img {
  width: 300px;
  align-self: flex-end;
}

.hero__img img {
  width: 100%;
}

.education {
}
.education__heading {
  text-align: center;
  margin-bottom: 20px;
}
.education__wrapper {
}

.education__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.education__item {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.education__item {
  display: flex;
  align-items: center;
}
.education__item p:first-child {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

.education__item p:first-child span {
  color: var(--primary-color);
}



.code-example {
}
.code-example__heading {
  text-align: center;
  margin-bottom: 20px;
}
.h3 {
}
.code-example__wrapper {
  padding: 10px;
}
.code-example__code {
  border-radius: 5px;
  margin: 0 auto;
  width: 90%;
  background-color: var(--background);
}

.code-example__sub-heading {
  text-align: center;
}



.projects {
}
.projects__heading {
  text-align: center;
  margin-bottom: 20px;
}

.projects__wrapper {
  padding: 20px;
}

.projects__list {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.projects__item {
  width: 250px;
}

.projects__item img {
  height: 250px;
  padding: 5px;
  border-radius: 2px;
  background: var(--primary-color);
}

.projects__item h4 {
  text-align: center;
}



.navigation {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navigation__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.navigation__item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: var(--primary-color);
  border-radius: 50%;

}
