.header {
  position: sticky;
  top: 0;
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 40px;
  background: var(--white);
  box-shadow: 0 5px 5px -5px rgb(34 60 80 / 60%);
}

.header__toggler {
  display: none;
}

.header__toggler span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__toggler span:last-of-type {
  display: none;
}

.header__toggler--active span:first-of-type {
  display: none;
}

.header__toggler--active span:last-of-type {
  display: flex;
}

.header__drawer {
  position: fixed;
  top: 40px;
  left: -320px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  box-shadow: 5px 0 5px -5px rgb(34 60 80 / 60%);
  transition: 0.25s ease-in-out;
  -webkit-overflow-scrolling: touch;
}

.header__drawer--active {
  left: 0;
}

@media (max-width: 960px) {
  .header {
    display: flex;
  }
}

@media (max-width: 768px) {
  .header__toggler {
    display: block;
  }
}
