.languages {
}
.languages__heading {
  margin-bottom: 25px;
}

.languages__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.languages__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  line-height: 24px;
}

.languages__item span:last-child {
  padding: 5px;
  background: var(--primary-color);
}
