.profile {
}

.profile__wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.profile__img {
  max-width: 150px;
  margin-bottom: 15px;
}

.profile__img img {
  border-radius: 50%;
}

.profile__heading {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.profile__sub-heading {
  color: var(--secondary);
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
  line-height: 24px;
  text-transform: capitalize;
  text-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}
